/* --------- menu box --------- */

.menu-box {
  @apply fixed bg-white/80 dark:bg-gray-900/80 backdrop-blur-3xl border border-gray-300/40 dark:border-gray-700/40 rounded-xl shadow-lg;
}

/* --------- Login --------- */

.login input::placeholder {
  @apply text-white;
}

/* --------- spotlight --------- */

.spotlight {
  @apply fixed z-20 top-1/4 -mt-16 h-max rounded-2xl backdrop-blur-3xl shadow-2xl bg-gray-50/85 border border-gray-300/40;
  width: 660px;
  margin-left: -330px;
  left: 50%;
}

.spotlight input::placeholder {
  @apply text-black opacity-40;
}

.spotlight .spotlight-type {
  @apply flex-center-v pl-6 py-0.5 text-xs leading-none bg-gray-300/60 text-black;
}

html.dark .spotlight {
  @apply bg-gray-900/85 border-gray-700/40;
}

html.dark .spotlight input::placeholder {
  @apply text-white opacity-40;
}

html.dark .spotlight .spotlight-type {
  @apply bg-gray-700/60 text-white;
}

@media (max-width: 639px) {
  .spotlight {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

/* --------- app window --------- */

.window-bound {
  width: 300%;
  height: 200%;
  left: -100%;
}

.innner-window {
  height: calc(100% - 1.5rem);
}

.safari-content {
  height: calc(100% - 2rem);
}

.traffic-lights svg {
  @apply hidden;
}

.traffic-lights:hover svg {
  @apply block;
}

/* --------- dock --------- */

.dock ul {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.dock li .tooltip {
  @apply hidden;
  top: calc(-100% - 5px);
}

.dock li:hover .tooltip {
  @apply block;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.2);
}

/* --------- slider --------- */

.slider .cc-range-slider {
  @apply relative flex w-full h-7 m-0 items-center rounded-r-full border-t border-r border-b border-transparent;
  padding: 0;
}

.slider .cc-range-slider .rc-slider-rail,
.slider .cc-range-slider .rc-slider-track,
.slider .cc-range-slider .rc-slider-step {
  top: 0;
  height: 100%;
}

.slider .cc-range-slider .rc-slider-rail {
  @apply bg-gray-300 rounded-r-full;
}

.slider .cc-range-slider .rc-slider-track {
  @apply bg-gray-100 rounded-none shadow-none;
}

.slider .cc-range-slider .rc-slider-handle {
  @apply border border-gray-300 outline-none h-7 w-7 bg-white;
  top: 0;
  margin-top: 0;
  opacity: 1;
  box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
  transform: translate(-50%, 0);
}

.slider .cc-range-slider .rc-slider-handle::after {
  @apply hidden;
}

.slider .cc-range-slider .rc-slider-handle:hover,
.slider .cc-range-slider .rc-slider-handle:focus,
.slider .cc-range-slider .rc-slider-handle:active {
  @apply border-gray-300;
  box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
}

html.dark .slider .cc-range-slider .rc-slider-rail {
  @apply bg-gray-600;
}

html.dark .slider .cc-range-slider .rc-slider-track {
  @apply bg-gray-800;
}

html.dark .slider .cc-range-slider .rc-slider-handle,
html.dark .slider .cc-range-slider .rc-slider-handle:hover,
html.dark .slider .cc-range-slider .rc-slider-handle:focus,
html.dark .slider .cc-range-slider .rc-slider-handle:active {
  @apply border-gray-600;
}


/*
  Credits: W3 Schools: https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch-toggle {
  @apply relative inline-block h-full w-9.5;
}

/* Hide default HTML checkbox */
.switch-toggle input {
  @apply w-0 h-0 opacity-0;
}

/* The slider */
.slider-toggle {
  @apply absolute rounded-full bg-gray-300 top-0 left-0 right-0 bottom-0 cursor-pointer duration-300;
}

.slider-toggle:before {
  @apply content-[""] absolute rounded-full bg-white bottom-0.5 left-0.5 w-4.5 h-4.5 duration-300;
}

input:checked + .slider-toggle {
  background-color: #2196F3;
}

input:focus + .slider-toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-toggle:before {
  @apply translate-x-4;
}
